body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-lg: 18px;

  /* Colors */
  --color-1: #1f1f1f;
  --color-2: #f8f7f9;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-base: 16px;
}
